<!-- Form Start -->
<div class="container-fluid pt-4 px-4 d-none" id="editForm">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Update Data Brangkas</h6>
        <form id="updateForm">
          <div class="row mb-3">
            <label for="kategori" class="col-sm-2 col-form-label"
              >Kategori</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" id="kategori" readonly />
            </div>
          </div>
          <div class="row mb-3">
            <label for="namaitem" class="col-sm-2 col-form-label"
              >Nama Item</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" id="namaitem" readonly />
            </div>
          </div>
          <div class="row mb-3">
            <label for="quantity" class="col-sm-2 col-form-label">Total</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="quantity" />
            </div>
          </div>
          <div class="row mb-3"></div>
          <button type="submit" class="btn btn-primary">Update Now</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->
