<div class="container-fluid pt-4 px-4 d-none" id="categoryFormContainer">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Tambah Kategori</h6>
        <form id="addCategoryForm">
          <div class="row mb-3">
            <label for="newCategory" class="col-sm-2 col-form-label"
              >Kategori</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" id="newCategory" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Tambah Kategori</button>
        </form>
      </div>
    </div>
  </div>
</div>
